.item1{
    margin: 10px;
    padding: 10px;
    background-color: blanchedalmond;
    border: 2px solid black;
    border-radius: 5px;
    justify-content: center;
    display: block;
}
.item2{
    margin: 10px;
    padding: 10px;
    background-color: blanchedalmond;
    border: 2px solid black;
    border-radius: 5px;
    justify-content: center;
    display: inline;
}
.item3{
    margin: 10px;
    padding: 10px;
    background-color: blanchedalmond;
    border: 2px solid black;
    border-radius: 5px;
    justify-content: center;
    display: flex;
}
.container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-flow: column wrap;  /* Здесь можно убрать flow, потому что написано то же самое что и у direction and wrap, или наоборот оставить его и убрать те.*/
    justify-content: center;
    align-items: center;
    align-content: stretch;
    height: 200px;
    border: 2px solid black;
    background-color: lightblue;
}
.box{
    padding: 5px;
    margin: 2px;
    background-color: rgb(177, 246, 223);
    border: 1px solid black;
}
.containerFlex{  
    display: flex; /* Обязательно чтобы в дочерних элементах работали flex-grow, shrink, basis*/  
    width: 600px;
    height: 200px;
    border: 3px solid black;
    background-color: rgb(202, 177, 237);
}
.box1{
    flex-grow: 1;
    padding: 5px;
    margin: 2px;
    background-color: rgb(177, 246, 223);
    border: 1px solid black;
}
.box2{
    flex-shrink: 0;
    padding: 5px;
    margin: 2px;
    background-color: rgb(177, 246, 223);
    border: 1px solid black;
}
.box21{
    flex-shrink: 1;
    padding: 5px;
    margin: 2px;
    background-color: rgb(177, 246, 223);
    border: 1px solid black;
}
.box22{
    flex-shrink: 2;
    padding: 5px;
    margin: 2px;
    background-color: rgb(177, 246, 223);
    border: 1px solid black;
}
.box3{
    flex-basis: 300px;
    padding: 5px;
    margin: 2px;
    background-color: rgb(177, 246, 223);
    border: 1px solid black;
}
.box4{
    flex: 1 1 30%;
    padding: 5px;
    margin: 2px;
    background-color: rgb(177, 246, 223);
    border: 1px solid black;
}
.containerFlexbox{  
    display: flex; 
    height: 200px;
    border: 2px solid black;
}
.item-1{
    flex-basis: 50%;
    flex-shrink: 0;
    padding: 5px;
    margin: 2px;
    background-color: rgb(177, 246, 223);
    border: 1px solid black;
}
.item-2{
    flex-grow: 1;
    padding: 5px;
    margin: 2px;
    background-color: rgb(177, 246, 223);
    border: 1px solid black; 
}
.item-3{
    flex-basis: 100px;
    flex-grow: 0;
    flex-shrink: 0;
    padding: 5px;
    margin: 2px;
    background-color: rgb(177, 246, 223);
    border: 1px solid black;
}
.menupanel{
    display: flex; 
    justify-content: center;
    align-items: center;
}
.containerWithLinks{
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    height: 200px;
    width: 200px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: bisque;
    font-weight: bold;
    font-size: 20px;
}
.link{
    display: block;
    width: 80px;
    padding: 10px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    font-size: 16px;
}
.gallery{
    margin: 10px auto;
    padding: 10px;
    display: flex; 
    justify-content: space-evenly;
    align-items: center;
    height: 500px;
    width: 600px;
    flex-wrap: wrap;
    background-color: rgb(193, 193, 193);
    border: 2px solid black;
    border-radius: 5px;
}
.title{
    width: 100%;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}
.card{
    margin: 5px;
    display: flex; 
    justify-content: center;
    align-items: center;
    flex: 0 1 30%;
    width: 150px; 
    height: 150px;
    overflow: hidden;
    border: 1px solid black;
    border-radius: 10px;
}
.block{
    width: 100%; 
    height: 100%;
    object-fit: cover;
}
