.form{
    max-width: 400px;
    background-color: beige;
    border: 1px solid bisque;
    border-radius: 5px;
    margin: 0 auto;
    padding: 10px;
}
.form-label{
    display: block;
    margin-bottom: 8px;
}
.form-input{
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid bisque;
    border-radius: 5px;
    box-sizing: border-box;
}
.form-input:focus{
    border-color: rgb(214, 147, 65);
    box-shadow: 0 0 5px rgb(234, 141, 27);
}
.form-button{
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: burlywood;
    color: rgb(97, 31, 12);
}
.form-button:hover{
    background-color: rgb(109, 78, 0);
    color: white;
}

.list{
    margin: 10px 0;
    padding: 10px;  
    background-color: rgb(240, 180, 108);
}
.list-item{
    margin: 10px 0;
    padding: 10px;  
    background-color: bisque;
}
.list-item:first-child{
    background-color: rgb(255, 145, 145);
    font-weight: bold;
}
.list-item:last-child{
    background-color: rgb(194, 150, 247);
    font-style: italic;
}

.box{
    max-width: 400px;
    max-height: fit-content;
    margin: 10px 0;
    padding: 10px;
    background-color: blue;
}
.block-to-inline{
    display: inline;
    width: 100px;
    height: 100px;
    background-color: rgb(137, 208, 255);
}
.link{
    color:rgb(0, 0, 88);
}
.link:hover{
    color:rgb(255, 0, 0);
}
.list-box{
    margin: 10px 0;
    padding: 10px;  
    background-color: rgb(137, 208, 255);
}
.list-items:nth-child(odd){
    background-color: rgb(19, 162, 138);
    font-weight: bold;
}

.block{
    margin: 10px 0;
    padding: 10px;
    max-width: 400px;
    background-color: rgb(255, 127, 204);
}
.block button:first-child:hover{
    background-color: rgb(127, 178, 255);
    color:rgb(255, 255, 255);
    cursor: pointer;
}
.block button:last-child:focus{
    background-color: rgb(246, 173, 250);
    color:rgb(255, 255, 255);
    cursor: pointer;
}